// Your custom SCSS should be written here...
//Variaveis
$cinza_claro: #b7babb;
body.ponto{
  h1{
    text-align: center;
  }
  .row.full{
    width: 100%;
    .relogio{
      background: #2fa8f6;
      color: #fff;
      padding: em(5px) em(10px);
      p{
        text-align: center;
      }
    }
    .botao_ponto_container{
      @include border-radius(50%);
      @include single-transition(all, 1s);
      background: #3fd42f;
      height: em(150px);
      margin-top: em(50px);
      cursor: pointer;
      &.started{
        background: #cc1425;
      }
    }
    #botao_ponto{
      color: #fff;
      text-align: center;
      vertical-align: middle;
      line-height: 150px;
    }
    .status{
      background: #3fd42f;
    }
  }
}

body.index{
  h1{
    text-align: center;
  }
  div.form_container{
    margin-top: 20%;
    @include border-radius(3px);
    background: $cinza_claro;
    padding: em(20px) em(30px);
    form{
      label{
        display: inline;
      }
    }
  }
}

body.register{
  h1{
    text-align: center;
  }
  div.form_container{
    @include border-radius(3px);
    background: $cinza_claro;
    padding: em(20px) em(30px);
    form{
      label{
        display: inline;
      }
    }
  }
}


body.editar{
  h1{
    text-align: center;
  }
}
